# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode
.vscode/*
.history/*

# Nx
.nx/cache
.nx/workspace-data

# AdminLTE
views/dist/
views/plugins/
views/uploads/

# extensions
extensions/tcpdf/fonts/
extensions/**/*.*
!extensions/tcpdf/pdf/bill.php